*~
# binaries
*.o
*.ui
*.uo
# latex 
*.aux
*.fdb_latexmk
*.synctex.gz
*.log
*.fls
*.pdf
/tex-out/*
/tex/syntax-judgement/tex-out/*
# binaries and linking
/build/*
/bin/vml
/bin/vml-test
/bin/vml.opt
*.out
