*~
# binaries
*.o
*.ui
*.uo
# latex 
*.aux
*.fdb_latexmk
*.synctex.gz
*.log
*.fls
*.pdf
!reveiw/thesis.pdf
/.tex-out/*
/tex/syntax-judgement/.tex-out/*
# binaries and linking
/build/*
/bin/dtran
/bin/vml-test
/bin/dtran.opt
*.out
.cm
/bin/pplus
/bin/vminus
*.blg
