
# More long unification with choice 

val a = A 
val b = B 
val c = C 

# Even if there's a valid branch, circularity means the program gets stuck. 
# val stuck_on_branch1 = if
#      E x y z x3 x4 x1 x2. x = K x1 x2; x1 = x; x2 = K x3 x4; x3 = y; x4 = z -> x
#  []  E a. x = a -> x # valid, but won't be hit, as branch 1 is stuck 
#  fi


# val circular_with_binding = if
#     E x y. x = x; x = y -> x
# fi

# 
# val double_circular = if
#     E x y. x = x; y = x; y = y -> x
# fi

# can't unify true and false. 
# val ununifiable = if
#     E x1. x1 = true; x1 = false -> x
# fi

 val property = Correct true


 val go_forth1 = if
     E x x1 y x2. property = Correct x1; x1 = x; y = x; print x;
     # y = x; y = y; x2 = y; 
     
     x2 = x; x2 -> Go_forth
 []  E fail. property = fail -> fail
 fi
#
# val x = if
#     E y x x1. (x = x | x = y; x = x; x = x; x1 = true; x1 = false; true) -> x
# []  E x. x = x -> x
# fi
#
# val go_forth2 = if
#     E x1 x x2 y x3. (property = Correct x1; x1 = x | property = Good_enough x2; x2 = x; y = x; y = y; x3 = y; x3 = true; x) -> Go_forth
# []  E fail. property = fail -> fail
# fi
#
# val x = f 3
#
# val property = Correct true
#
# val go_forth = \y. y
#
# val fail = \prop. prop
#
# val go_forth3 = if
#     E x1 x x2 y x3. (property = Correct x1; x1 = x | property = Good_enough x2; x2 = x; y = x; y = y; x3 = y; x3 = true; x) -> go_forth y
# []  E failcase. property = failcase -> fail Property_failed
# fi
#
#
#val x = K 
#
#val len = \xs.  
#    if xs = NIL; x = K1 -> ZERO
#     [] E y ys. xs = CONS y ys -> INDUCT
#     [] xs = NIL; x = K -> OTHER 
#    fi
#