# Variable binding to constructor
 val x = K
 
# Variable binding to variable
 val y = x

# Variable binding to constructor application 
 val z = K x

# Variable binding to lambda
 val f = \a.a
 
 # Variable binding to function application
 val app = f x
 
 # Variable binding to nested named function application 
 val napp = f (f x)

 # Variable binding to nested constructor application 
 val ncapp = K y (K z)

 # Variable binding to nested anonymous function application 
 val nlapp = (\y. y) (\y. y)
 
# Empty if-fi:
 val x = if
 
 fi

# Introduce but not bind: failure
 val x = if
   E x. -> x
 fi

# Circular dependency: unsolvable 
 val x = if
   E x. x = x -> x
 fi

# Circular dependency: unsolvable  
 val x = if
   E x t. x = x t; t = x x -> x
 fi

# Solvable set of constraints  
 val can_solve = if
   E x t. x = K t; t = K -> x
 fi

#  Solvable set of constraints with leniency 
 val can_solve_flipped = if
   E x t. t = K; x = K t -> x
 fi

# Unification by checking, not binding 
 val x = K 

 val x = if
     x = K -> x
 fi

# Can't unify x (K) with y (K K2)
 val cantunify = if
      E y. y = K2; x = K y -> x
  fi
 
# Much unification, very wow
  val long = if
      E w y z x3 x4 x1 x2. w = K x1 x2; x1 = x; x2 = K x3 x4; x3 = K; x4 = K -> x4
  fi

# Or-pattern with choice
 val c1 = if
     E f. (x = K | x = f) -> x
 fi

# More long unification with choice 
 val clong = if
     E x y z x3 x4 x1 x2 f. (x = K x1 x2; x1 = x; x2 = K x3 x4; x3 = y; x4 = z | x = f) -> x
 fi
j 
 val x = if
     E x y z x3 x4 x1 x2. x = K x1 x2; x1 = x; x2 = K x3 x4; x3 = y; x4 = z -> x
 []  E f. x = f -> x
 fi
 
 val x = if
     E x y z x3 x4 x1 x2. x = K x1 x2; x1 = x; x2 = K x3 x4; x3 = y; x4 = z -> x
 []  E f x. (x = f | x = x) -> x
 fi
 
 val x = if
     E x y. x = x; x = y -> x
 fi
 
 val x = if
     E x y. x = x; y = x; y = y -> x
 fi
 
 val x = if
     E x x1. x = x; x = x; x = x; x1 = true; x1 = false -> x
 []  E x. x = x -> x
 fi
 
 val go_forth = if
     E x x1 y x2. property = Correct x1; x1 = x; y = x; y = y; x2 = y; x2 = true; x -> Go_forth
 []  E fail. property = fail -> fail
 fi
 
 val x = if
     E y x x1. (x = x | x = y; x = x; x = x; x1 = true; x1 = false; true) -> x
 []  E x. x = x -> x
 fi
 
 val go_forth = if
     E x1 x x2 y x3. (property = Correct x1; x1 = x | property = Good_enough x2; x2 = x; y = x; y = y; x3 = y; x3 = true; x) -> Go_forth
 []  E fail. property = fail -> fail
 fi
 
 val x = f 3
 
 val property = Correct true
 
 val go_forth = \y. y
 
 val fail = \prop. prop
 
 val go_forth = if
     E x1 x x2 y x3. (property = Correct x1; x1 = x | property = Good_enough x2; x2 = x; y = x; y = y; x3 = y; x3 = true; x) -> go_forth y
 []  E failcase. property = failcase -> fail Property_failed
 fi
 

val x = K 

val len = \xs.  
    if xs = NIL; x = K1 -> ZERO
     [] E y ys. xs = CONS y ys -> INDUCT
     [] xs = NIL; x = K -> OTHER 
    fi 